body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
}

a {
  font-weight: normal;
  text-decoration: none;
  color: rgb(86, 80, 255);
}

a:hover {
  color: rgb(255, 123, 43);
}

div.controls {
  position: absolute;
  height: 100%;
  width: 300px;
  left: -250px;
}

div.tag {
  color: grey;
  position: absolute;
  top:0;
  right:0;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  padding: 0.2rem 0.4rem 0.5rem 1.1rem;
  box-shadow: 4px 0 0 rgba(220, 220, 220, 0.5),
              0 1px 0 rgba(220, 220, 220, 0.5);
  border-bottom-right-radius: 1rem;
}

div.tag:hover {
  color: rgb(129, 37, 255);
}

div.menu {
  box-sizing: border-box;
  position: absolute;
  width: 242px;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.7);
  z-index: 1;
  box-shadow: 4px 69px 0 rgba(220, 220, 220, 0.5);
  padding: 0.4rem 1rem;
  overflow: scroll;
}

div.menu ul {
  list-style: none;
  font-size: 1.8rem;
  line-height: 3rem;
}

li:hover {
  font-weight: bold;
}

li#about:hover {
  color:rgb(74, 255, 91);
}

li#skills:hover {
  color:rgb(255, 54, 111);
}

li#projects:hover {
  color: rgb(17, 149, 255);
}

li#contact:hover {
  color: rgb(186, 235, 0);
}

li#spiral:hover {
  color: rgb(198, 0, 223);
}

div#front {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 150%;
  left: 50%;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  width: 550px;
  max-height: 90vh;
  max-width: 95vw;
  background-color: rgba(255, 255, 255, 0.95 );
  overflow: scroll;
  border-radius: 2rem;
  box-shadow: 4px 0 0 rgba(220, 220, 220, 0.95),
              0 1px 0 rgba(220, 220, 220, 0.95),
              0 -1px 0 rgba(220, 220, 220, 0.95),
              -1px 0 0 rgba(220, 220, 220, 0.95);
}

#close {
  color: gainsboro;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
}

#close:hover {
  color: black;
  font-weight: bolder;
}

#front img {
  width: 85%;
  margin: 0.5rem 2rem 0.5rem 1.7rem;
  display: block;
  box-shadow: 4px 0 0 rgba(220, 220, 220, 1),
              0 1px 0 rgba(220, 220, 220, 1),
              0 -1px 0 rgba(220, 220, 220, 1),
              -1px 0 0 rgba(220, 220, 220, 1);
  border-radius: 0.5rem;
}


#front ul{
  width: 100%
}

#front li{
  line-height:1.5em;
  display:inline-block;
}

.double li  {
  width:45%;
}

dt {
  display: inline-block;
  width: 25%;
  text-align: right;
  font-weight: bold;
}

dd {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 0.5rem;
  width: 70%;
  margin: 0;
}
